<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>createServlet</servlet-name>
        <servlet-class>createServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalServlet</servlet-name>
        <servlet-class>FinalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinServlet</servlet-name>
        <servlet-class>FinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>infoServlet</servlet-name>
        <servlet-class>infoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SectionServlet</servlet-name>
        <servlet-class>SectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>statementServlet</servlet-name>
        <servlet-class>statementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>testServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createServlet</servlet-name>
        <url-pattern>/createServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalServlet</servlet-name>
        <url-pattern>/FinalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinServlet</servlet-name>
        <url-pattern>/FinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>infoServlet</servlet-name>
        <url-pattern>/infoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SectionServlet</servlet-name>
        <url-pattern>/SectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>statementServlet</servlet-name>
        <url-pattern>/statementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
